.documentation-block {
    padding: 2rem 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.documentation-block__text {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff90;
}

.documentation-block__link {
    display: inline-flex;
    width: 180px;
    text-decoration: none !important;
}

.documentation-block__cta {
    border: 0;
    outline: 0;
    border-radius: 6px;
    height: 60px;
    min-width: 180px;
    width: 180px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--ifm-color-primary);
    color: var(--ifm-button-color);
    cursor: pointer;
    transition: 0.15s;
}

.documentation-block__cta:hover {
    background-color: var(--ifm-color-primary-light);
}
