.landing__features {
    padding: 2rem 2rem 6rem 2rem;
    cursor: default;
    background-color: var(--ifm-navbar-background-color);
}

.landing__features-title {
    font-size: 32px;
    font-weight: 600;
    color: var(--ifm-hero-text-color);
    text-align: center;
    padding-bottom: 2rem;
}

.landing__features-list {
    display: flex;
    gap: 4rem;
}

.landing__feature {
    width: 33.3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    padding: 2rem;
}

.landing__feature-title {
    margin-bottom: 1.5rem;
    font-size: 22px;
    font-weight: 700;
    color: var(--ifm-color-primary-light);
}

.landing__feature-text {
    margin: 0;
    max-width: 20rem;
    font-size: 16px;
    color: var(--ifm-hero-text-color);
}

@media (max-width: 768px) {
    .landing__features-list {
        flex-direction: column;
        gap: 2rem;
    }

    .landing__feature {
        width: 100%;
        padding: 1rem;
    }
}
