.code__token-orange {
    color: #bd6220;
}

.code__token-white {
    color: #a5afb9;
}

.code__token-purple {
    color: #7a7aa8;
}

.code__token-yellow {
    color: #f7c068;
}

.code__token-green {
    color: #6a8455;
}
